# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/84532/
/broadcast/**/dry-run/
# local network by anvil
/broadcast/*/31337/

# Dotenv file
.env
.env.*
.mn
.password

# Personal
TODO

# docs
*.md
!README.md
!GEMINI.md