[profile.default]
src = "src"
test = "test"
script = "script"
out = "out"
libs = ["lib"]
ffi = true
ast = true
build_info = true
extra_output = ["storageLayout"]

# Ignore warnings from dependencies
ignored_warnings_from = ["lib/"]

[rpc_endpoints]
base_sepolia = "${BASE_SEPOLIA_RPC_URL}"
base_mainnet = "${BASE_MAINNET_RPC_URL}"
base_localnet = "http://127.0.0.1:8545"

# [etherscan]
# base_sepolia = { key = "${BASESCAN_API_KEY}", url = "https://api-sepolia.basescan.org/api" }
# base = { key = "${BASESCAN_API_KEY}", url = "https://api.basescan.org/api" }
# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
